@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  .title {
    @apply text-4xl font-bold tracking-widest font-['Josefin_Sans'];
  }

  .section-title {
    @apply text-2xl font-bold;
  }

  .section-subtitle {
    @apply font-bold;
  }

  .footer-section-title {
    @apply text-sm font-bold;
  }

  .footer-section-text {
    @apply text-sm;
  }
}

@layer components {
}
